body{
    background-color:beige;
    color: darkslategray;
    margin: 5px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    }
    header,
    footer {
        text-align: right;
        background-color: cornsilk;
    }
p {
    text-align: justify;
    text-indent: 8ch
}

p::first-letter {
    font-size: 120%;
    color: rgb(60, 23, 196);
    text-decoration-line: underline;
}
p::first-line {
    color: rgb(15, 85, 8);
}
h2,
h3,
h4 {
    color:rgb(202, 141, 50);
    text-decoration-line: underline;
    
}